<!-- home -->
<div class="row justify-content-center mb-4">
	<h2>Delegate Training Registration</h2>
</div>

<div class="row d-flex flex-column align-content-center flex-lg-row justify-content-lg-center mb-4">
	<!-- col1 -->
	<div class="col-lg-4">
		<div class="card">
			<!-- header -->
			<div class="card-header text-center">
				<h3 class="card-title">Views</h3>
			</div>
			<!-- body -->
			<div class="card-body">
				<ul class="list-group text-white fw-bold">
					<li class="list-group-item p-0 mb-3">
						<a class="btn btn-primary w-100" routerLink="/courses">Courses</a>
					</li>

					<li class="list-group-item  p-0 mb-3">
						<a class="btn btn-primary w-100">Training</a>
					</li>

					<li class="list-group-item  p-0 mb-3">
						<a class="btn btn-primary w-100">Person</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- col2 -->
	<div class="col-lg-4 mb-3">
		<div class="card">
			<!-- header -->
			<div class="card-header text-center">
				<h3 class="card-title">Creations</h3>
			</div>
			<!-- body -->
			<div class="card-body">
				<ul class="list-group text-white fw-bold">
					<li class="list-group-item p-0 mb-3">
						<a class="btn btn-primary w-100">Courses</a>
					</li>

					<li class="list-group-item  p-0 mb-3">
						<a class="btn btn-primary w-100">Training</a>
					</li>

					<li class="list-group-item  p-0 mb-3">
						<a class="btn btn-primary w-100">Person</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>